/* Цвет основного текста #212121 */
/* Цвет вторичного тексат #757575 */
/* Цвет текста телефона и почты в футере rgba(255, 255, 255, 0.6) */
/* Белый цвет #FFFFFF */
/* Цвет акцентированных элементов #2196F3 */
/* Цвет фона футера #2F303A */

:root {
    --brend-color: #2196F3;
    --white: #fff;
    --main-text-color: #212121;
    --second-text-color: #757575;
    --color-text-footer: rgba(255, 255, 255, 0.6);
    --footer-color: #2F303A;
    --button-background: #F5F4FA;
}

/* Глобальные стили */
html {
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    color: var(--main-text-color)
}


/* Утилитные стили */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}


/* Цвет половины логотипа */
.logo-header {
    color: var(--main-text-color);
}

/* Убираем в списках точки, Репета показал - прикольно!*/
ul {
    list-style: none;

}

/* HADER */
.container {
    display: flex;
    width: 1200px;
    padding: 0 15px;
    /* outline: 1px dotted red; */
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.logo {   
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--brend-color);
        text-decoration: none;
        margin-right: 93px;
}

.link {
    text-decoration: none;
}
/* Навигация */
.site-nav {
    padding: 0;
}
.nav-container {
    display: flex;
    padding-left: 0;
    gap: 50px;
}
/* Вариант пробелов между лишками навигации, 
но гап удобнее
.nav-container li:not(:last-child) {
    margin-right: 50px;
} */

.site-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    padding: 20px 0;
}

.site-nav .link.current {
    color: var(--brend-color);
}

.auth-header {
    display: flex;
    margin-left: auto;
    gap: 50px;
}

.auth-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.auth-link:hover, 
.auth-link:focus {
    color: var(--brend-color);
}

.botton-line {
    border-bottom: 1px solid #ececec;
}

/* Область кнопок фильтров */

/* Визуальное скрытие заголовка ПОРТФОЛИО */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.filter-list {
    display:block;
}

.filter-button-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 0;
    padding-top: 94px;
}


.filter-button {
    border: none;
    border-radius: 4px;
    padding: 6px 24px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--button-background);
    cursor: pointer;    
}

.filter-button.filter:hover,
.filter-button.filter:focus
 {
    background-color: var(--brend-color);
    color: #fff;
}
/* Область карточек */
.filter-cards {
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding-top: 34px;
    padding-bottom: 94px;
}

.card-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--main-text-color);
}

.card-filter {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* Footer */
.footer-column {
    flex-direction: column;
    padding-top: 60px;
}
.background-footer {
    background-color: var(--footer-color);
}

.logo-footer {
    color: var(--white);
    text-decoration: none;
}

.adress-padding{
    padding-left: 0;
}
.adress {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white);
    font-style: normal;
}

.footer-auth {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-text-footer);
    text-decoration: none;
}

.footer-auth:hover,
.footer-auth:focus {
    color: var(--brend-color);
}

/* index.html MAIN*/
/* кнопка героя */

.hero-section {
        display: block;
        width: 1200px;
        height: 600px;
        background-color: #2F303A;
        padding: 0 15px;
}

.hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
    
    text-align: center;
    padding-top: 200px;
    padding-bottom: 30px;
    margin: 0;

}

.hero-button {
    display: block;
    margin: 0 auto;

    font-family: inherit;
    background-color: var(--brend-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--white);
    cursor: pointer;
}

/* преимущества */
.advanteges-list {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    gap: 30px;
}
.advanteges-width {
    width: 270px;
}


/* .advanteges:not(:last-child) {
     margin-right: 30px;
} */


.advanteges-h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.advanteges-p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.info-heading {
    margin-bottom: 50px;
    /* padding-top: 94px; */


    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.info-column {
    flex-direction: column;
}

.info-link {
    display: flex;
    margin: 0;
    padding-left: 0;
    padding-bottom: 94px;
    gap: 30px;
}

.our-team-h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.our-team-p {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.bcg {
    background-color: #F5F4FA;;
}

.team-column {
    flex-direction: column;

}

.team-list {
    display: flex;
    margin: 0;
    padding-bottom: 94px;
    padding-left: 0;
    gap: 30px;
}